

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
}


/* Featured product*/ 
.col-3 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin: 40px 0 30px;
  transition: transform 0.5s;
}

.col-3 img {
  width: 100%;
}

/* Title door ni bga ulaan zuraasnuud*/ 
.title {
  top: 75px; 
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}



h4 {
  color: #555;
  font-weight: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.col-3 p {
  font-size: 14px;
}

.col-3:hover {
  transform: translateY(-5px);
}
