.account-page {
    padding: 50px 0;
} 

.form-container {
    background: #ffffff;
    width: 400px;
    height: 550px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 70px;
}

.form-container h2 {
    font-weight: bold;
    color: #555555;
    cursor: pointer;
    font-size: 30px;
    margin: 40px 0 0 0 ;
  }
  
.form-container hr{  
    max-width: 300;
    margin: 20px 0 ;
    background-color: black;
    border: none;
    height: 1px;

}


.form-container form {
    max-width: 400px;
    padding: 0 20px;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

form .btn:focus {
    outline: none;
}

.button{ 
    display: flex;
    gap: 140px;
}

.button a{ 
    color: black;
    font-size: 13px;
    margin-bottom: 30px;
}

.btn-facebook,
.btn-google,
.btn-apple {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.btn-facebook {
    background-color: #3b5998;
}
  
.btn-google {
    background-color: #dd4b39;
}

.btn-apple{
    background-color: black;
}